* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s;
}

body {
    height: 200vh;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: gray;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 10px;
    background-color: darkgray;
}



nav a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}



nav img {
    border-radius: 50%;
}

main {
    padding: 20px 50px;

}