* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}
body {
    height: 200vh;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: gray;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 10px;
    background-color: darkgray;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 50px;
    background-color: transparent;
    box-shadow: 0 8px 16px darkgray;
    position: sticky;
    top: 0;
}

nav .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .right .burger-icon,
nav .right #burger-toggler {
    display: none;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

nav img {
    border-radius: 50%;
}

main {
    padding: 20px 50px;

}