* {
  padding: 0;
  margin: 0;
  transition: 0.5s ease;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-image: url("./mark-basarab-1OtUkD_8svc-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#open-modal {
  padding: 20px 40px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  background-color: aqua;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  cursor: pointer;
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 1;
  backdrop-filter: blur(15px);
}

.modal-content {
  background-image: url("./jonatan-pie-3l3RwQdHRHg-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  padding: 40px;
  position: relative;
}

.modal-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  border: 2px solid;
  border-color: aqua;
  animation: rotate-border 4s infinite linear;
  pointer-events: none;
  box-sizing: border-box;
}

@keyframes rotate-border {
  0% {
    border-color: #2effff;
    box-shadow: 0px 0px 31px 9px rgba(46, 255, 255, 0.5);
  }
  25% {
    border-color: #ff2e2e;
    box-shadow: 0px 0px 31px 9px rgba(255, 46, 46, 0.5);
  }
  50% {
    border-color: #ffff2e;
    box-shadow: 0px 0px 31px 9px rgba(255, 255, 46, 0.5);
  }
  75% {
    border-color: #2dffc4;
    box-shadow: 0px 0px 31px 9px rgba(45, 255, 196, 0.5);
  }
  100% {
    border-color: #ff2ed5;
    box-shadow: 0px 0px 31px 9px rgba(255, 46, 213, 0.5);
  }
}

#close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  color: aqua;
  border-radius: 50%;
  border: 1px solid aqua;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-control label {
  color: aqua;
  font-weight: 700;
  font-size: 18px;
}

.form-control input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid aqua;
  background-color: transparent;
}

.form-control input:focus {
  outline: 2px solid aqua;
}

.form-control input::placeholder {
  color: #fff;
}

.form-control input:focus::placeholder {
  color: #fff;
}

.form-control button {
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
  padding: 8px 0;
  border-radius: 5px;
  border: 1px solid aqua;
  background-color: transparent;
  color: aqua;
  cursor: pointer;
  font-size: 16px;
}

.form-control #enterBtn:hover {
  backdrop-filter: blur(50px);
}

.swal2-popup {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  border-radius: 8px;
  color: aqua;
}
.swal2-popup .swal2-image {
  border: 1px solid aqua;
  border-radius: 8px;
  filter: hue-rotate(90deg);
}

.swal2-popup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  border: 2px solid;
  border-color: aqua;
  animation: rotate-border 4s infinite linear;
  pointer-events: none;
  box-sizing: border-box;
}

.swal2-title {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.swal2-title, .swal2-html-container {
  animation: flicker 1.5s infinite alternate;
  color: aqua;
}

/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
